{% extends "layout.html" %}

{% block body %}
<h1>terraform-plan-approval</h1>

<p>This is a tool for a Terraform plan approval workflow in GitHub Actions, compensating for the lack of a facility for accepting user input in GH Actions. This is not meant for any serious usage, just for demonstration. <a href="https://github.com/jbergknoff/terraform-plan-approval">GitHub</a></p>

<h2>Usage</h2>

<ol>

<li>Generate a plan with a GH Action, send that plan to this service:
<br><br>
<pre>curl -d '{"plan_base64": "..."}' -H 'content-type: application/json' /plan</pre>
</li>

<li>Direct the user to <code>/plan/&lt;id&gt;</code> in a web browser to approve or reject</li>

<li>Poll <code>/plan/&lt;id&gt;/status</code> in the GH Action until it returns <code>{"status": "approved"}</code> or <code>{"status": "rejected"}</code>.</li>
</p>
{% endblock %}
